.toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

.content {
    display: flex;
    width: 50%;
    margin: 32px auto;
    flex-direction: column;
}

input.ng-valid[required] {
    border-left: 5px solid #42A948;
    /* green */
}

input.ng-dirty.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}